/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* BASE */
body {
    background: #ffffff;
    color: #000000;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

/* CONTAINER PADRÃO */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 30px 20px;
}

/* HEADER */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.header p {
    color: #020202;
}

/* CARD GENÉRICO / CARD TAREFA */
.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    overflow: visible;
    position: relative;
}

/* TAREFA CONCLUÍDA */
.card.done {
    opacity: 0.65;
    text-decoration: line-through;
}

/* INFO DA TAREFA */
.info {
    font-size: 0.9rem;
    color: #555;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0 15px;
}

/* FORMULÁRIOS */
label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 0.95rem;
}

textarea {
    resize: vertical;
    min-height: 90px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #35373b;
}

/* BOTÕES BASE */
.btn {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
    display: inline-block;/
    opacity: 1;
    visibility: visible;
}

/* ÁREA DE AÇÕES (BOTÕES) */
.acoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

/* VARIAÇÕES DE BOTÃO */
.concluir {
    background: #22c55e;
    color: #fff;
}

.editar {
    background: #3a5a8b;
    color: #fff;
}

.excluir {
    background: #eb6d6d;
    color: #fff;
}

/* BOTÃO ADICIONAR */
.btn-add {
    display: inline-block;
    background: #484a4e;
    color: #fff;
    padding: 10px 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 500;
}
