<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Editar Tarefa</h1>
    </div>

    <form class="card" method="POST" action="/atualizar/{{ tarefa.id }}">
        <label>Nome</label>
        <input name="nome" value="{{ tarefa.nome }}" required>

        <label>Descrição</label>
        <textarea name="descricao">{{ tarefa.descricao }}</textarea>

        <label>Prioridade</label>
        <select name="prioridade">
            <option value="baixa" {% if tarefa.prioridade == 'baixa' %}selected{% endif %}>Baixa</option>
            <option value="media" {% if tarefa.prioridade == 'media' %}selected{% endif %}>Média</option>
            <option value="alta" {% if tarefa.prioridade == 'alta' %}selected{% endif %}>Alta</option>
        </select>

        <label>Status</label>
        <select name="status">
            <option value="pendente" {% if tarefa.status == 'pendente' %}selected{% endif %}>Pendente</option>
            <option value="concluida" {% if tarefa.status == 'concluida' %}selected{% endif %}>Concluída</option>
        </select>

        <button class="btn primary">Atualizar</button>
    </form>
</div>

</body>
</html>
