<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="header">
        <h1>Minhas Tarefas</h1>
        <p>“Conhecer o padrão é o primeiro passo para entender o comportamento.”</p>
        <p>— Dr. Spencer Reid, Criminal Minds</p>
    </div>

    <!-- FILTRO -->
    <form class="card" method="GET" action="/tarefas">
        <div class="grid-filtro">
            <div>
                <label>Prioridade</label>
                <select name="prioridade">
                    <option value="">Todas</option>
                    <option value="baixa">Baixa</option>
                    <option value="media">Média</option>
                    <option value="alta">Alta</option>
                </select>
            </div>

            <div>
                <label>Prazo</label>
                <input type="date" name="prazo">
            </div>

            <button class="btn primary">Filtrar</button>
        </div>
    </form>


    <!-- BOTÃO NOVA TAREFA -->
<a href="/nova" class="btn-add">➕ Nova Tarefa</a>

<!-- LISTA DE TAREFAS -->
{% for t in tarefas %}
<div class="card {% if t.status == 'concluida' %}done{% endif %}">

    <h3>{{ t.nome }}</h3>

    {% if t.descricao %}
        <p>{{ t.descricao }}</p>
    {% endif %}

    <div class="info">
        <span>📌 {{ t.prioridade }}</span>

        {% if t.prazo %}
            <span>📅 {{ t.prazo.strftime("%d/%m/%Y") }}</span>
        {% endif %}

        <span>⏳ {{ t.status }}</span>
    </div>

    <div class="acoes">
        {% if t.status != 'concluida' %}
        <a href="/concluir/{{ t.id }}" class="btn concluir">
            ✔ Concluir
        </a>
        {% endif %}

        <a href="/editar/{{ t.id }}" class="btn editar">
            ✏ Editar
        </a>

        <a href="/deletar/{{ t.id }}" class="btn excluir">
            🗑 Excluir
        </a>
    </div>

    </div>
    {% endfor %}
</div>

</body>
</html>
