<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Nova Tarefa</h1>
    </div>

    <form class="card" method="POST" action="/adicionar">
        <label>Nome</label>
        <input name="nome" required>

        <label>Descrição</label>
        <textarea name="descricao"></textarea>

        <label>Prioridade</label>
        <select name="prioridade">
            <option value="baixa">Baixa</option>
            <option value="media">Média</option>
            <option value="alta">Alta</option>
        </select>

        <label>Prazo</label>
        <input type="date" name="prazo">

        <button class="btn success">Salvar</button>
    </form>
</div>

</body>
</html>
